.content
  = image_tag "mark.jpg", class: "profile"
  %h1
    Mark Turley
    %small Attorney at law
  %p 30 years of experience trying lawsuits in state and federal courts through out Missouri.
  %p Successfully represented people, families and small businesses in more than 500 cases ranging from motor vehicle crashes to complex insurance and breach of business contracts.
  %p Handled cases in every appellate court in Missouri including the Supreme Court.
  %hr
  = image_tag "leatta.jpg", class: "profile"
  %h1
    Leatta Nikols
    %small Paralegal
  %p Advanced certified paralegal with more than 13 years of experience in management of civil cases. Shared responsibility with Mark Turley in over 200 cases from start to finish.
  %p Provided lead technical support for legal teams in numerous jury and nonjury trials. Experience in every phase of case development from initial investigation through trial and appeal.
  %hr
  %center
    %h1 - Areas of Specialization -
  .box
    %h3 Injuries  Death
    %hr.dashed
    %ul
      %li
        %span.item Truck  Auto Accidents
      %li
        %span.item Dangerous Premises
      %li
        %span.item Dangerous Products
      %li
        %span.item Dangerous Roads  Bridges
      %li
        %span.item Malpractice
      %li
        %span.item Workers Compensation
    %p
      Every year, millions of Americans are needlessly injured and killed as a result of violations of recognized safety rules...
      / Many others suffer on the job injuries that threaten the financial well being of workers and their families.  Mark Turley represents people and families who have suffered harms and losses caused by violators of safety rules and work related injuries.
  .box
    %h3 Insurance  Breach of Contract
    %hr.dashed
    %ul
      %li
        %span.item Truck  Auto Accidents
      %li
        %span.item Dangerous Premises
      %li
        %span.item Dangerous Products
      %li
        %span.item Dangerous Roads  Bridges
      %li
        %span.item Malpractice
      %li
        %span.item Workers Compensation
    %p
      Every year, millions of Americans are needlessly injured and killed as a result of violations of recognized safety rules...
      / Many others suffer on the job injuries that threaten the financial well being of workers and their families.  Mark Turley represents people and families who have suffered harms and losses caused by violators of safety rules and work related injuries.
  .box
    %h3 Constitutional Rights
    %hr.dashed
    %ul
      %li
        %span.item Truck  Auto Accidents
      %li
        %span.item Dangerous Premises
      %li
        %span.item Dangerous Products
      %li
        %span.item Dangerous Roads  Bridges
      %li
        %span.item Malpractice
      %li
        %span.item Workers Compensation
    %p
      Every year, millions of Americans are needlessly injured and killed as a result of violations of recognized safety rules...
      / Many others suffer on the job injuries that threaten the financial well being of workers and their families.  Mark Turley represents people and families who have suffered harms and losses caused by violators of safety rules and work related injuries.