%section
  .person
    = image_tag "mark.jpg"
    .bio.without-business-card
      %p Mark has 30 years of experience trying lawsuits in state and federal courts through out Missouri.
      %p He has successfully represented people, families and small businesses in more than 500 cases ranging from motor vehicle crashes to complex insurance and breach of business contracts.
      %p Mark has handled cases in every appellate court in Missouri including the Supreme Court.

  .person
    = image_tag "leatta.jpg", class: "pull-left"
    .bio
      .business-card
        .name Leatta Nichols
        .title Paralegal
      %p Leatta is an advanced certified paralegal with more than 13 years of experience in management of civil cases.
      %p She has shared responsibility with Mark in hundreds of cases from start to finish and provided lead technical support for legal teams in numerous jury and nonjury trials.
      %p Leatta has experience in every phase of case development from initial investigation through trial and appeal.


%section.map
  .map-image
  .contact-us
    %h2 Contact Us
    .address
      Smith & Turley
      %br
      401 N Rolla St.
      %br
      Suite #3
      %br
      P.O. Box 860
      %br
      Rolla, MO 65402
    .phone-numbers
      .phone-number
        %span.phone-number-label office:
        %span.phone-number-number (573) 612-1408
      .phone-number
        %span.phone-number-label fax:
        %span.phone-number-number (573) 303-5869
%section.practice-areas
  %h1 Our Practice Areas
  .practice
    .title Injuries & Death
    .sub-practices
      Truck & Auto Accidents, Dangerous Premises, Dangerous Products, Dangerous Roads & Bridges, Malpractice, Workers' Compensation
    .description
      %p Every year, millions of Americans are needlessly injured and killed as a result of violations of recognized safety rules. Many others suffer on the job injuries that threaten the financial well being of workers and their families.  Mark Turley represents people and families who have suffered harms and losses caused by violators of safety rules and work related injuries.
  .practice
    .title Insurance & Breach of Contract
    .description
      %p Unfortunately, insurance companies and other big businesses do not always keep their promises.  Mark Turley represents people and small business that have suffered financial harm because an insurance company or corporation has refused to honor its obligation under an insurance policy or contract.
  .practice
    .title Constitutional Rights
    .sub-practices
      Condemnation, Civil Rights
    .description
      %p Federal and state constitutions create and limit the power of government.  The government can take private property for a public purpose but not without paying fair compensation.  Under certain circumstances the police can arrest a citizen but may never use more force than reasonably necessary.  Mark Turley represents citizens who have been harmed when the government or its officers have abused their authority.
