body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: #333;
}

.content {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px 0;
	width: 100%;
}

img.profile {
	width: 200px;
	border-radius: 200px;
	float: left;
	padding-right: 10px;
	margin-right: 20px;
}

h1 {
	font-weight: 300;
	display: block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 0;
}
h1 small {
	color: #65acae;
	display: block;
	font-size: 0.5em;
	font-weight: 600;
}

p {
	max-width: 800px;
	margin-bottom: 30px;
}

hr {
	border: none;
	border-bottom: solid #c3c3c3 1px;
	margin: 40px 0;
	height: 2px;
}

hr.dashed {
	border: none;
	border-bottom: dashed #65acae 1px;
	margin: 10px 0 30px 0;
	height: 2px;
}

ul {
	text-align: left;
}

ul li {
	color: #65acae;
}
ul li .item {
	color: #333;
}

.box {
	text-align: center;
	border: 1px solid #c3c3c3;
	width: 280px;
	height: 300px;
	padding: 10px 20px 30px 20px;
	margin-right: 10px;
	float: left;
}

.box h3 {
	min-height: 45px;
	vertical-align: middle;
}