$accent: #00A3D9;
$subtle: #666;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin full-width {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-image: image-url("bg-texture.jpg");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.4em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25em;
}

header {
  @include full-width;

  .logo {
    width: 140px;
  }

  .masthead {
    @include clearfix;

    .business-card .name {
      margin-top: 55px;
    }

    .phone-numbers {
      font-size: 0.8125em;
      text-align: right;
      color: $subtle;

      .office-phone {
        margin-top: 70px;
      }
    }
  }

}

.content {
  @include full-width;
  @include clearfix;
  margin-top: -35px;
  background-color: white;
  text-align: left;

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.business-card {
  .name {
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
  }

  .title {
    color: $accent;
    margin-top: 15px;
  }

  &.small {
    .name {
      font-size: 1.5em;
    }

    .title {
      margin-top: 10px;
    }
  }
}

section {
  .person {
    @include clearfix;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;

    img {
      box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px 0px;
      padding: 5px;
      width: 175px;
      float: left;

      &.small {
        width: 100px;
      }
    }

    .bio {
      margin-left: 50px;
      float: left;
      width: 66%;

      &.without-business-card p:first-child {
        margin-top: 0;
      }
    }
  }

  .practice {
    width: 66%;
    line-height: 1.6em;

    .title {
      font-family: 'Playfair Display', serif;
      font-size: 1.5em;
      padding: 30px 0 10px 0;
    }

    .sub-practices {
      color: $accent;
    }

    .description {
      font-family: 'Merriweather', serif;
      font-style: italic;
      color: $subtle;
      margin-left: 20px;
      padding-left: 30px;
      border-left: 1px solid $accent;
    }
  }
}
