$accent: #00A3D9;
$subtle: #666;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin full-width {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@mixin padded-content {
  padding-left: 50px;
  padding-right: 50px;
}

@mixin grayscale($percentage, $gray_zero_or_one) {
  filter: grayscale($percentage);
  -webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  -ms-filter: grayscale($percentage);
  -o-filter: grayscale($percentage);
  -webkit-filter: grayscale($gray_zero_or_one);
}

body {
  background-image: image-url("bg-texture.jpg");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.4em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25em;
}

a[href^=tel] {
  color: $accent;
}

header {
  @include full-width;

  .logo {
    width: 140px;

    @media(max-width: 740px) {
      width: 50px;
      display: block;
      float: none;
    }
  }

  .masthead {
    @include clearfix;
    @include padded-content;

    @media(max-width: 740px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 220px;

    }

    .business-card {
      .name {
        margin-top: 55px;

        @media(max-width: 740px) {
          margin-top: 5px;
        }
      }

      @media(max-width: 740px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
    }

    .phone-numbers {
      font-size: 0.8125em;
      text-align: right;
      color: $subtle;

      @media(max-width: 740px) {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
      }

      .office-phone {
        margin-top: 70px;

        @media(max-width: 740px) {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
          float: none;
        }
      }
    }
  }

}

.content {
  @include full-width;
  @include clearfix;
  margin-top: -35px;
  background-color: white;
  text-align: left;
  border: 1px solid #E9E9E9;

  @media(max-width: 740px) {
    margin-top: 0px;
  }

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.business-card {
  .name {
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
  }

  .title {
    color: $accent;
    margin-top: 15px;
  }

  &.small {
    .name {
      font-size: 1.5em;
    }

    .title {
      margin-top: 10px;
    }
  }

  @media(max-width: 740px) {
    line-height: 2.4em;
  }
}

section {
  @include padded-content;

  .person {
    @include clearfix;
    display: block;
    padding-top: 40px;

    img {
      box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px 0px;
      padding: 5px;
      width: 175px;
      float: left;

      @media(max-width: 740px) {
        margin-bottom: 5px;
      }

      &.small {
        width: 100px;
      }
    }

    .bio {
      margin-left: 5%;
      float: left;
      width: 66%;

      @media(max-width: 740px) {
        width: 100%;
      }

      &.without-business-card p:first-child {
        margin-top: 0;
      }
    }
  }

  &.map {
    width: 100%;
    padding: 0;
    position: relative;
    @include clearfix;

    @media(max-width: 740px) {
      @include padded-content;
      width: auto;
    }

    .map-image {
      background-image: image-url("map.jpg");
      background-position: center;
      height: 245px;

      @include grayscale(100%, 1);
      transition: 0.5s all;

      &:hover {
        @include grayscale(0%, 0);
        cursor: pointer;
      }

      @media(max-width: 740px) {
        display: none;
      }
    }

    .contact-us {
      background-color: rgba(1, 23, 30, 0.9);
      float: left;
      height: 100%;
      color: white;
      width: 300px;
      position: absolute;
      top: 0;
      left: 50px;
      font-size: 0.9em;

      @media(max-width: 740px) {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: auto;
      }

      @media(max-width: 399px) {
        width: 220px;
      }

      h2 {
        font-family: 'Playfair Display', serif;
        margin: 20px 0px 20px 25px;
        font-size: 2em;
      }

      .address {
        margin-left: 25px;
      }

      .phone-numbers {
        margin-top: 15px;
        margin-left: 25px;

        span {
          display: inline-block;
        }
        .phone-number-label {
          width: 3.5em;
        }
      }
    }
  }

  &.practice-areas{
    margin-top: 50px;
    padding-bottom: 50px;

    @media(max-width: 740px) {
      margin-top: 10px;
      line-height: 2.25em;
    }


    .practice {
      width: 66%;
      line-height: 1.6em;

      @media(max-width: 740px) {
        width: 100%;
      }

      .title {
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
        padding: 30px 0 10px 0;

        @media(max-width: 740px) {
          padding: 0;
        }
      }

      .sub-practices {
        color: $accent;
      }

      .description {
        font-family: 'Merriweather', serif;
        font-style: italic;
        color: $subtle;
        margin-left: 20px;
        padding-left: 30px;
        border-left: 1px solid $accent;
      }
    }
  }
}

footer {
  height: 100px;
}
