$accent: #00A3D9;
$subtle: #666;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin full-width {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: #f2f2f2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.4em;
}

p {
  margin: 0.75em 0;
}

header {
  @include full-width;

  .logo {
    width: 140px;
  }

  .masthead {
    @include clearfix;

    .mark-turley {
      font-family: 'Playfair Display', serif;
      font-size: 2.25em;
      margin-top: 55px;
    }

    .byline {
      color: $accent;
      margin-top: 15px;
    }

    .phone-numbers {
      font-size: 0.8125em;
      text-align: right;
      color: $subtle;

      .office-phone {
        margin-top: 70px;
      }
    }
  }

}

.content {
  @include full-width;
  @include clearfix;
  margin-top: -35px;
  background-color: white;
  text-align: left;

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img.portrait {
  width: 200px;
  border-radius: 200px;
  padding-right: 10px;
  margin-right: 20px;
}

h2 {
  font-weight: 300;
  display: block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 0;
  font-size: 2em;

  small {
    color: $accent;
    display: block;
    font-size: 0.5em;
    font-weight: 600;
  }
}

hr {
  border: none;
  border-bottom: solid $accent 1px;
  margin: 40px 0;
  height: 2px;

  &.heading {
    margin: 0 0 40px 0;
  }
}

ul {
  text-align: left;

  li {
    color: $accent;

    .item {
      color: #333;
    }
  }
}

.box {
  background-color: #fff;
  color: #666;
  height: 200px;
  padding: 10px 0px 30px 0px;
  margin-bottom: 30px;

  ul {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 35%;
    box-sizing: border-box;
    vertical-align: top;
  }
  .description {
    display: inline-block;
    width: 60%;

    p {
      margin-top: 0;
    }
  }
  h3 {
    vertical-align: middle;
  }
}

.nav {
  width: 15%;
  float: left;

  .logo {
    width: 120px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li {
      color: black;
      padding-top: 4px;
    }

  }
}

.people {
  width: 85%;
  float: left;
}

.practice {
  text-align: center;
  margin-top: 90px;
}

.cover {
  width: 100%;
  margin-top: 70px;
}
